.top-image {
    height: 800px;
    background-size: cover;
    text-align: center;
    background-color: lightgrey;
}

.top {
    border: solid 3px white;
    background-color: white;
    box-shadow: 5px 5px 0px 0px darkgray ;
    position: absolute;
    top: 5%;
    left: 7%;
    width: 85%;
    height: 12%;
}

img {
    position: relative;
}

.top nav ul li img {
    padding-left: 1%;
    margin-right: 6%;
    overflow: hidden;
    width: 20%;
}

.top nav ul li a {
    text-decoration: none;
    text-align: center;
    padding: 1% 4%;
    color: black;
}

.border {
    border-right: 2px solid black;
    height: 20px;
    margin-top: 2%;
}

/*.border::after {
    content: '';
    position: absolute;
    left: 38%;
    bottom: 40px;
    display: inline-block;
    width: 40px;
    height: 2px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
    border-radius: 2px;
}*/

.top nav ul li span {
    vertical-align: baseline;
    /*position: relative;*/
}

.top nav ul li  {
    display: flex;
    justify-content: center;
}

.list-top {
    letter-spacing: 0.15em;
}

.list-under {
    letter-spacing: 0.15em;
    font-size: 12px;
}
