.top-image {
    height: 800px;
    background-size: cover;
    text-align: center;
    background-color: lightgrey;
}

.top {
    border: solid 3px white;
    background-color: white;
    box-shadow: 5px 5px 0px 0px darkgray ;
    position: absolute;
    top: 5%;
    left: 7%;
    width: 85%;
    height: 12%;
}

img {
    position: relative;
}

.top ul li img {
    padding-left: 1%;
    margin-right: 6%;
    overflow: hidden;
    width: 20%;
}

.top ul li a {
    text-decoration: none;
    text-align: center;
    padding: 1% 4%;
    color: black;
}

/*.border {
    border-right: 2px solid black;
    height: 20px;
    margin-top: 2%;
}*/

.border {
    position:relative;
    display:inline-block;
}

.border::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 15px;
    right: -5px;
}

.top ul li span {
    vertical-align: baseline;
}

.top ul li  {
    display: flex;
    justify-content: center;
}

.list-top {
    letter-spacing: 0.15em;
}

.list-under {
    letter-spacing: 0.15em;
    font-size: 12px;
}

.about {
    position: relative;
    border: solid;
    margin: 9%;
    padding: 4%;
    border-color: transparent;
    background-color: #F2F3F7;
}

.about-headline {
    position: absolute;
    top: -21%;
    left: 0.5%;
    font-size: x-large;
}

.about-text {
    position: relative;
}

.exclamation {
    color: #D4004E;
    position: absolute;
    top: -11%;
    left: -2%;
    font-size: 35px;
}

.about-btn {
    border: solid #D4004E;
    color: white;
    background-color: #D4004E;
    text-align: center;
    margin: 0% 39%;
    padding: 0% 4%;
    position: absolute;
    top: 94%;
    left: 3%;
}

.about-btn-text {
    position: absolute;
    top: 87%;
    right: 45%;
    color: white;
}

.middle-1 {
    position: relative;
    padding-bottom: 5%;
}

.middle-headline {
    position: relative;
    top: 166%;
    left: 10%;
    font-size: x-large;
    letter-spacing: 3px;
}

.middle-exclamation {
    position: absolute;
    color: #D4004E;
    font-size: 35px;
    left: 8%;
    top: -2%;
}

.middle {
    display: flex;
}

.rogo {
    margin: 0% 21% 0% 8%;
    padding-top: 2%;
}

.rogo img {
    padding: 30% 55%;
    border: 1px solid #707070;
}

.rogo-name {
    position: absolute;
    color: #D4004E;
    padding-left: 8%;
    top: 24%;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.rogo-text {
    position: absolute;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    top: 40%;
    padding-left: 8%;
}

.about-btn-second {
    border: solid #D4004E;
    color: white;
    background-color: #D4004E;
    text-align: center;
    margin: 0% 39%;
    padding: 0% 2%;
    position: absolute;
    top: 70%;
    right: -17%;
}

.about-btn-text-second {
    position: absolute;
    top: 66.7%;
    right: 23%;
    color: white;
}

.middle-2 {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.rogo2 img {
    position: absolute;
    padding: 6% 11%;
    border: 1px solid #707070;
    left: 49.5%;
}

.rogo-name2 {
    position: absolute;
    color: #D4004E;
    right: 66%;
    top: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.rogo-text2 {
    position: absolute;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    right: 61.7%;
    top: 95px;
}

.about-btn-second2 {
    border: solid #D4004E;
    color: white;
    background-color: #D4004E;
    text-align: center;
    margin: 0% 39%;
    padding: 0% 2%;
    position: absolute;
    top: 230px;
    left: -23%;
}

.about-btn-text-second2 {
    position: absolute;
    top: 216px;
    right: 71%;
    color: white;
}

.middle-3 {
    position: relative;
    display: flex;
}

.rogo3 img {
    position: absolute;
    padding: 6% 11%;
    border: 1px solid #707070;
    left: 7%;
    top: 355px;
}

.rogo-name3 {
    position: absolute;
    color: #D4004E;
    right: 34%;
    top: 390px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.rogo-text3 {
    position: absolute;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    right: 14.4%;
    top: 444px;
}

.about-btn-second3 {
    border: solid #D4004E;
    color: white;
    background-color: #D4004E;
    text-align: center;
    margin: 0% 39%;
    padding: 0% 2%;
    position: absolute;
    top: 560px;
    right: -17%;
}

.about-btn-text-second3 {
    position: absolute;
    top: 546px;
    right: 23%;
    color: white;
}

.middle-last {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.rogo-last p {
    position: absolute;
    top: 799px;
    right: 24%;
    font-size: xx-large;
}

.rogo-last img {
    position: absolute;
    padding: 8.7% 19.6%;
    border: 1px solid #707070;
    left: 49.5%;
    top: 710px;
}

.rogo-name-last {
    position: absolute;
    color: #D4004E;
    right: 79%;
    top: 746px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.rogo-text-last {
    position: absolute;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    right: 58.7%;
    top: 820px;
}

.about-btn-last {
    border: solid #D4004E;
    color: white;
    background-color: #D4004E;
    text-align: center;
    margin: 0% 39%;
    padding: 0% 2%;
    position: absolute;
    top: 935px;
    left: -21%;
}

.about-btn-text-last {
    position: absolute;
    top: 922px;
    right: 69%;
    color: white;
}

.news-headline {
    position: absolute;
    top: -92%;
    left: 0%;
    font-weight: 500;
    font-size: 43px;
    line-height: 62px;

}

.news-exclamation {
    position: absolute;
    top: -61%;
    left: -3%;
    color: #D4004E;
    font-size: 71px;
}

.NEWS {
    position: relative;
    border: solid;
    top: 980px;
    margin: 9% 9% 0%;
    padding: 1%;
    border-color: transparent;
    background-color: #F2F3F7;
}

.newstext {
    display: flex;
    align-items: center;
}

.news-title{
    border: 1px solid #E5A31C;
    color: #E5A31C;
    margin-right: 15px;
    padding: 4px;
}

.news-date {
    margin-right: 55px;
}

.news-date::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 37px;
    left: 347px
}

.news-text-last {
    margin-left: 18px;
}

.NEWS2 {
    position: relative;
    border: solid;
    top: 980px;
    margin: 1% 9%;
    padding: 1%;
    border-color: transparent;
    background-color: #F2F3F7;
}

.news-title2{
    border: 1px solid #D4004E;
    color: #D4004E;
    margin-right: 15px;
    padding: 4px 70px;
}

.news-title3{
    border: 1px solid #5FA153;
    color: #5FA153;
    margin-right: 15px;
    padding: 4px 26px;
}

.news-title4{
    border: 1px solid #50BBF4;
    color: #50BBF4;
    margin-right: 15px;
    padding: 4px 47px;
}

.another-page {
    border: solid #D4004E;
    position: absolute;
    top: 488%;
    left: 2%;
    color: white;
    background-color: #D4004E;
    text-align: center;
    margin: 0% 39%;
    padding: 0% 8%;
    line-height: 0;
}

.another-pageinner {
    position: absolute;
    top: 0%;
    right: 8%;
    color: white;
}

.footer {
    position: absolute;
    top: 510%;
    height: 50%;
    width: 100%;
    background-color: #333;
    color: white;
}

footer ul li {
    display: flex;
}

.footer-list {
    position: absolute;
    top: 22%;
    left: 27%;
}

.footer-border::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 23%;
    left: 35%;
}

.footer-list2 {
    position: absolute;
    top: 22%;
    left: 38%;
}

.footer-border2::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 23%;
    left: 46%;
}

.footer-list3 {
    position: absolute;
    top: 22%;
    left: 50%;
}

.footer-border3::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 23%;
    left: 66.5%;
}

.footer-list4 {
    position: absolute;
    top: 22%;
    left: 69%;
}

.footer-another-page {
    border: solid white;
    position: absolute;
    top: 535%;
    left: 2%;
    color: black;
    background-color: white;
    text-align: center;
    margin: 0% 39%;
    padding: 0% 4%;
    line-height: 0;
}

.footer-another-pageinner {
    position: absolute;
    top: 0%;
    right: 8%;
    color: black;
}

small p {
    position: absolute;
    top: 550%;
    left: 41%;
    color: white;
    font-weight: 700;
    font-size: 9px;
    line-height: 13px;
}